*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg,#08001f,#30197d);
    display: flex;
    align-items: center;
    justify-content: center  
}
.calendar{
    width: 300px;
    height: 250px;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.left,.right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.right{
    width: 42%;
    background-color: #f4351e;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.left{
    width: 58%;
}

#date{
    font-size: 100px;
    line-height: 90px;
}
